[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/WeActTC/hexo-theme-butterfly.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/melody"]
	path = themes/melody
	url = https://github.com/Molunerfinn/hexo-theme-melody.git
